@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500&family=DM+Sans:wght@500;700&family=Inter:wght@400;500;600;700&family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@400;500;600&family=Roboto:wght@400;500&family=Work+Sans:wght@200;300;400;500;600&display=swap");

$dm: "DM Sans", sans-serif;
$r: "Roboto", sans-serif;
$bv: "Be Vietnam Pro", sans-serif;
$l: "Lato", sans-serif;
$i: "Inter", sans-serif;
$p: "Poppins", sans-serif;
$rw: "Raleway", sans-serif;
$w: "Work Sans", sans-serif;

@mixin flex($align: center, $justify: center, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin grid($gap, $gtr, $gtc) {
  display: grid;
  gap: $gap;
  grid-template-rows: $gtr;
  grid-template-columns: $gtc;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  overflow-x: hidden !important;
}

$logo: #0cd8db;

.site {
  &__logo {
    &--dark-theme {
      color: #fff;
    }
    color: #000;
    font-family: $dm;
    font-weight: 700;
    font-size: 23px;
    margin-left: 15px;
    &--light {
      color: $logo;
      &--dark-theme {
        color: rgb(255, 255, 0);
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
