@import "../global.scss";

.counter {
  &__person {
    width: 175px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    &--on {
      animation: personAnimate 0.45s forwards;
      animation-delay: 0.3s;
    }
  }

  &__container {
    overflow: hidden;
    height: 500px;
    position: relative;
    @include flex(center, center);
    background-size: 350px;
    background-color: transparent;
  }

  &__title {
    opacity: 0;
    transform: translateX(20%);
    &--on {
      animation: slideFromRight 0.45s forwards;
      animation-delay: 0.3s;
    }
    width: 325px;
    height: 375px;
    background: rgb(224, 224, 224);
    margin-left: 200px;
    border-radius: 5px;
    @include flex(flex-start, center);
    text-align: center;
    padding: 15px;
    font-family: $w;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: rgb(74, 74, 74);
  }
}

.tool {
  opacity: 0;
  transform: translateX(-20%);
  &--on {
    animation: slideFromLeft 0.45s forwards;
    animation-delay: 0.3s;
  }
  width: 325px;
  height: 375px;
  background: rgba(27, 27, 27, 0.927);
  // backdrop-filter: blur(8px);
  &--dark-mode {
    // backdrop-filter: blur(35px);
  }
  border-radius: 5px;
  padding: 15px;
  @include flex(center, center, column);

  &__counter {
    @include flex(center, center);
  }

  &__underline {
    margin: 0;
    width: 45px;
    margin: 15px 0;
    border-bottom: 1.5px solid rgb(151, 151, 151);
  }

  &__digit {
    width: 38px;
    height: 60px;
    @include flex(center, center);
    font-size: 27px;
    background: rgb(199, 199, 199);
    color: rgb(71, 71, 71);
    margin: 0 5px;
    border-radius: 2px;
    font-family: $i;
    font-weight: 600;
  }

  &__label {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: rgb(228, 228, 228);
    font-family: $dm;
    letter-spacing: -0.25px;
  }
}
