@import "../global.scss";

.settings {
  width: calc(250px + 58px + 5px);
  @include flex(flex-start, flex-start);
  position: fixed;
  z-index: 3;
  top: 200px;
  left: -256px;
  transform: translateX(0);
  transition: 0.3s ease-in-out;

  &--on {
    transform: translateX(256px);
  }

  &__list {
    background: rgba(23, 23, 23, 0.742);
    backdrop-filter: blur(15px);
    width: 250px;
    height: 350px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
    @include flex(center, flex-start);

    /* width */
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: darken(#fff, 17.5%);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__wheelchair {
    font-size: 33px;
    color: #fff;
  }

  &__btn {
    width: 58px;
    height: 58px;
    border: none;
    background: rgb(109, 99, 255);
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
  }

  &__header {
    position: relative;
    align-self: flex-start;
  }

  &__title {
    margin: 0;
    font-size: 26px;
    font-family: $dm;
    letter-spacing: -0.25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 38px;
    left: 30px;
  }

  &__icon {
    font-size: 72px;
    color: rgb(97, 97, 97);
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__input-group {
    &:first-of-type {
      margin-top: 105px;
    }

    &--type-checkbox {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid rgb(139, 139, 139);

      width: 225px;
      @include flex(center, flex-start);
    }

    margin-top: 5px;
    margin-left: 10px;
  }

  &__input-title {
    font-size: 14px;
    color: rgb(202, 202, 202);
    font-family: $i;
    font-weight: 400;
    letter-spacing: -0.45px;
    margin-bottom: 2px;
  }

  &__input-btn {
    width: 29px;
    height: 29px;
    border: none;
    background: #000;
    color: #fff;
    font-family: $i;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
  }

  &__input,
  &__input-btn {
    background: rgb(210, 210, 210);
    color: rgb(54, 54, 54);
  }

  &__input-btn:hover {
    background: darken(rgb(216, 216, 216), 10%);
  }

  &__input,
  &__input-selection {
    outline: none;
  }

  &__option {
    background: rgb(245, 245, 245);
  }

  &__input {
    width: 75px;
    margin: 0 10px;
    height: 29px;
    border: none;
    border-radius: 3px;
    padding: 0 7.5px;
    font-family: $dm;
    font-size: 15px;
    font-weight: 700;
    &--font-size {
      background: rgb(222, 222, 222);
    }
    &-selection {
      margin-left: 0;
      width: calc(29px * 2 + 75px + 10px * 2);
    }
  }

  &__checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    @include flex(center, center);

    &:hover > .settings__checkmark {
      border: 3px solid rgb(95, 95, 95);
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input[type="checkbox"]:checked ~ &__checkmark::after {
    display: block;
  }

  &__checkmark {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 3px solid rgb(145, 145, 145);
    border-radius: 4px;
    background: rgb(244, 244, 244);

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border-bottom: 4px solid rgb(104, 104, 104);
      border-right: 4px solid rgb(104, 104, 104);
      width: 4px;
      height: 12px;
    }
  }

  &__checkbox-label {
    margin: 0;
    margin-left: 7.5px;
    font-family: $i;
    font-weight: 400;
    letter-spacing: -0.25px;
    font-size: 15px;
    color: rgb(237, 237, 237);
  }

  &__themes {
    @include flex(center, flex-start);
    margin-top: 15px;
    margin-bottom: 15px;

    &-title {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 35px;
      font-size: 17px;
      font-family: $i;
      font-weight: 400;
      letter-spacing: -0.2px;
      color: rgb(237, 237, 237);
    }
  }

  &__theme {
    padding: 0;
    margin: 0 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    border: 3px solid #9f9f9f;

    &--selected {
      border: 3px solid $logo;
    }

    &--light {
      background: rgb(255, 255, 255);

      &:hover {
        background: darken(#fff, 10%);
      }
    }

    &--dark {
      background: rgb(50, 50, 50);

      &:hover {
        background: lighten(rgb(50, 50, 50), 10%);
      }
    }
  }

  &__restore-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 93%;
    background: #fff;
    color: #000;
    outline: none;
    border-radius: 3px;
    font-size: 16px;
    font-family: $dm;
    cursor: pointer;
    border: none;
    padding: 3px 0;
    font-weight: 600;

    &:hover {
      background: darken(#fff, 20%);
    }
  }
}

// <div class="settings__input-group">
//       <div class="settings__themes">
//         <h1 class="settings__themes-title">Motywy</h1>
//         <button
//           class="settings__theme"
//           class:settings__theme--selected={themeSelected === 0}
//         /><button
//           class="settings__theme"
//           class:settings__theme--selected={themeSelected === 1}
//         />
//       </div>
//     </div>

// <div class="settings__input-group">
//       <h1 class="settings__input-title">Rozmiar czcionki</h1>
//       <div class="settings__input-container">
//         <button class="settings__input-btn">-</button><input
//           type="number"
//           placeholder="Rozmiar"
//           value="1"
//           class="settings__input"
//         /><button class="settings__input-btn">+</button>
//       </div>
//     </div>
