@import "../global.scss";

@keyframes circleTranslate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-27px);
  }
  100% {
    transform: translateY(0);
  }
}

.start {
  &__img-1,
  &__img-2 {
    position: absolute;
  }

  &__img-3 {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 150px;
    animation: circleTranslate 8.5s ease-in-out infinite;
  }

  &__img-4 {
    position: absolute;
    bottom: 75px;
    right: 200px;
    width: 100px;
    animation: circleTranslate 8.5s ease-in-out infinite;
    animation-delay: 3.5s;
  }

  &__img-1 {
    top: 70px;
    right: 0;
    width: 400px;
  }

  &__img-2 {
    left: 0;
    bottom: 0;
    transform: rotateX(180deg) rotateY(180deg);
    width: 300px;
  }

  &__title {
    font-size: 43px;
    font-family: $dm;
    letter-spacing: -0.75px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    opacity: 0;
    transform: translateX(-20%);
    &--on {
      animation: slideFromLeft 0.45s forwards;
    }
  }

  &__subtitle {
    font-family: $w;
    font-size: 18px;
    letter-spacing: -0.6px;
    color: rgb(112, 112, 112);
    text-align: center;
    margin: 0;
    opacity: 0;
    transform: translateX(20%);
    &--on {
      animation: slideFromRight 0.45s forwards;
    }
  }

  &__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
}

.main {
  &__start-page {
    position: relative;
    height: 100vh;
  }
}
